<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>People Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="PeopleApp" ng-controller="peopleController">

 <div class="container-fluid">
     <div class="row">
         <div class="col-sm-4">
             <h1>People Search</h1>
             <input type="text" ng-model="searchCriteria" size="10" />
             <button type="button" class="btn" 
                     ng-click="searchClick();">Search</button>
             <p/>
             
         </div>
         <div id="progressDIV" style.display="none" class="col-sm-4">
             <div class="panel panel-warning">
                 <div class="panel-heading">Searching...</div>
                 <div class="panel-body">
                     <div class="progress">
                         <div class="progress-bar progress-bar-warning progress-bar-striped active" 
                              role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                              style="width:100%">
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-sm-4"></div>
     </div>

     <div class="row">
        <div class="col-sm-4" >
            <div class="panel panel-primary">
            <div class="panel-heading">List of People</div>
            <div class="panel-body">
            <div class="container-fluid">
                <div class="row" ng-repeat="person in people">
                    <div class="col-sm-4">{{person.FirstName}}</div>
                    <div class="col-sm-4">{{person.LastName}}</div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-link"  ng-click="findPersonIndex(person.Id)">Details</button>
                    </div>
                </div>
            </div>
            </div> <!-- panel body-->
            </div> <!-- Panel -->
        </div>
         <div class="col-sm-8" >
             <div class="panel panel-info">
             <div class="panel-heading">Person Details</div>
             <div class="panel-body">
             <div class="container-fluid">
                 <div class="row">
                     <div class="col-sm-12">
                       <div class="media">
                           <div class="media-left">
                               <img ng-src="{{people[personDetailIndex].PictureFile}}" class="media-object" style="width:60px">
                           </div>
                           <div class="media-body">
                               <h4 class="media-heading">{{people[personDetailIndex].FirstName}} {{people[personDetailIndex].LastName}}</h4>
                               <div class="row">
                                   <div class="col-sm-1 ">Address:</div>
                                   <div class="col-sm-11 ">{{people[personDetailIndex].Address}}</div>
                                   </div> 
                               <div class="row">
                                   <div class="col-sm-1"></div>
                                   <div class="col-sm-11">{{people[personDetailIndex].City}}, {{people[personDetailIndex].State}}  {{people[personDetailIndex].ZipCode}}</div>
                               </div>
                               <div class="row">
                                   <div class="col-sm-1">Age:</div>
                                   <div class="col-sm-11">{{people[personDetailIndex].Age}}</div>
                               </div>
                               <div class="row">
                                   <div class="col-sm-1">Interests:</div>
                                   <div class="col-sm-11">{{people[personDetailIndex].Interests}}</div>
                               </div>
                           </div>
                       </div>
                     </div>
                 </div>
                 
             </div>
             </div> <!-- panel body-->
             </div> <!-- panel info-->
         </div>
     </div>
 </div>

<script>
    // show progress bar for data load
    function showProgress() {
        var prg = document.getElementById("progressDIV");
        prg.style.display = "block";
    }

    // hide progress bar for data load
    function hideProgress() {
        var prg = document.getElementById("progressDIV");
        prg.style.display = "none";
    }
</script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="scripts\peopleApp.js"></script>
 <script src="scripts\peopleFactory.js"></script>
 <script src="scripts\peopleController.js"></script>

</body>
</html>
